In [2]:
import pandas as pd

In [13]:
good = pd.read_csv('good.csv', sep=';', nrows=None, header=None)

ParserError: Error tokenizing data. C error: Expected 16 fields in line 8226, saw 19

In [18]:
'10008225;109316, г.Москва, ул. Мельникова, дом 3;house;РОССИЯ;МОСКВА;МОСКВА;;;;Улица;МЕЛЬНИКОВА;3;;;;'
a = '10008226;109316, г.Москва, ул. Сосинская, дом 43;house;РОССИЯ;МОСКВА;МОСКВА;;;;Улица;СОСИНСКАЯ;43;;;;'
b = '10008227;109316, г.Москва, ул. Стройковская, дом 10А;house;РОССИЯ;МОСКВА;МОСКВА;;;;Улица;СТРОЙКОВСКАЯ;10А;;;;'

In [17]:
pd.DataFrame(a.split(';'))

                                          0
0                                  10008226
1   109316, г.Москва, ул. Сосинская, дом 43
2                                     house
3                                    РОССИЯ
4                                    МОСКВА
5                                    МОСКВА
6
7
8
9                                     Улица
10                                СОСИНСКАЯ
11                                       43
12
13
14
15

In [19]:
pd.DataFrame(b.split(';'))

                                              0
0                                      10008227
1   109316, г.Москва, ул. Стройковская, дом 10А
2                                         house
3                                        РОССИЯ
4                                        МОСКВА
5                                        МОСКВА
6
7
8
9                                         Улица
10                                 СТРОЙКОВСКАЯ
11                                          10А
12
13
14
15